<p style="color: green"><%= notice %></p>

<% if Current.user.present? %>
    <p>Signed as <%= Current.user.email %></p>

    <%= button_to "Log out", Current.session, method: :delete %>
<% else %>
    <%= link_to "Sign in", sign_in_path %>        
<% end %>

