/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

ul {
    list-style: none;
}

.page {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

h1 {
    margin-bottom: 16px;
}

.site-header {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;

    .left-items {
        display: flex;
        align-items: center;

        .logo {
            font-size: 24px;
            font-weight: 700;
            text-decoration: none;
            color: cadetblue;
        }

        nav {
            margin-left: 8px;
            border: 2px solid gray;
            background-color: white;
            border-radius: 12px;
            padding: 3px 6px;

            &:hover{
                border-color: white;
                background-color: lightgray;
            }
        }
    }
    .right-items {
        display: flex;
        align-items: center;

        button {
            margin-left: 8px;
            padding: 2px 4px;
            border-radius: 10px;
            border: 2px solid gray;

            &:hover{
                border-color: white;
                background-color: lightgray;
            }
        }
    }
}