#rooms {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 8px;
    margin-bottom: 12px;

    .room {
        border: 2px solid gray;
        border-radius: 8px;
        padding: 12px 16px;

        h2 {
            margin-bottom: 12px;
        }

        .category {
            background-color: lightgray;
            padding: 4px 8px;
            border-radius: 4px;
        }

        a {
            display: block;
            text-decoration: none;
            margin-top: 8px;
            color: blue;

            &:hover {
                text-decoration: underline;
            }
        }
        .admin{
            padding-top: 12px;
        }
    }
}

.new-room{
    color: black;
    padding: 4px 8px;
    width: 80px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid gray;

    &:hover{
        background-color: grey;
        border: 2px solid white;
        color: blue;
    }
}