#room-page{
    display: flex;
    justify-content: space-between;
    align-items: center;

    #room-info{
        display: grid;
        padding: 4px 8px;
        z-index: 99;
    }

    .room-actions{
        display: flex;
        height: 30px;
        float: right;
        z-index: 99;
    }

    .action{
        padding: 4px 8px;
        border: 2px solid gray;
        border-radius: 12px;
        margin-left: 2px;
        margin-right: 2px;

        &:hover{
            border-color: white;
            background-color: lightgray;
        }
    }
}